.hidden {
  display: none;
  align-content: center;
}
.container {
  border: 5px solid #1f3960;
  background-color: #c7d6ed;
  max-width: 700px;
  border-radius: 100px;
}
.container2 {
  border: 2px dotted blue;
  border-radius: 200px;
}
.programming-language {
  border: 1px solid blue;
  border-style: dotted;
  border-radius: 200px;
  background-color: white;
  /* padding: 10px; */
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  font-stretch: extra-expanded;
}
#submitButton {
  color: #e5d875;
  background: purple;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#sopranos {
  color: #04265b;
  background: #c7d6ed;
}
#pizza {
  color: #04265b;
  background: #c7d6ed;
}
#thunderstorms {
  color: #04265b;
  background: #c7d6ed;
}
#hiking {
  color: #04265b;
  background: #c7d6ed;
}
#coffee {
  color: #04265b;
  background: #c7d6ed;
  align-content: center;
}
#label {
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
font-weight: bold;
color: #04265b;
position: static;

}
#ruby {
  align-items: center;
  margin-top: 40px;
  padding-top: 50px;
}
#python {
  align-items: center;
  margin-top: 40px;
  padding-top: 50px;
}
#rust {
  align-items: center;
  margin-top: 40px;
  padding-top: 50px;
}
body {
  background-color: #a4c6f9;
  font-family: "Times New Roman", Times, serif;
}
div {
  margin: 20px;
}
h1  {
  margin-top: 30px;
  font-style: bold;
  text-align: center;
  color: purple;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: #04265b;
  font-style: italic;
  max-width: 400px;
  text-align: center;
  margin-left: 110px;
  /* margin-top: 30px; */
}
img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 200px;
}
.container2 img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 200px;
}
